

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  .footer {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 100%;
    background-color:  #fff5cc;
    border-radius: 6px;
    margin-top:300px;
    margin-bottom: -100PX;
  }
  
  h4{
    margin-left: 30px;
  }
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 60px;
    
  }
  
  .footer-row .footer-col h4 {
    color: #b30000 ;
  
    font-size: 26px;
   
    font-weight: 400;
  }
  .footer-row .footer-col h4:hover {
    color: #004080 ;
    text-decoration: underline;
  
  }
  
  .footer-col .links {
    margin-top: 20px;
  }
  
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .footer-col .links li a {
    text-decoration: none;
    color: #004080 ;
  }
  
  .footer-col .links li a:hover {
     color: #b30000 ;
    text-decoration: underline;
  }
  
  .footer-col p {
    margin: 20px 0;
    color: #004080 ;
    max-width: 300px;
  }
  .footer-col p:hover {
    color: #b30000;
    text-align: justify;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  
  .footer-col input {
    height: 40px;
    border-radius: 6px;
   
    width: 100%;
    outline: none;
   border:none;
    
   background-color:  #b30000;
    padding-left: 10px;
  }
  
  .footer-col input::placeholder {
    color:  #fff5cc;
  }
  
   .footer-col form button {
    background: #cc6600;
    color:  #fff5cc;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background-color: #004080;
  }
  
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  
  .footer-col .icons i {
    color: #afb6c7;
  }
  
  .footer-col .icons i:hover  {
    color: #fff;
  }

  .footer-col .social-links a{
    display: flex;
 
 
    padding-top:5px;
    padding-right: 5px;
    margin-left: 30px;
   margin-top: 5px;
    line-height: 40px;
   
  color:#004080;
  margin-top: 10px;
    font-size: 20px;
    transition: all 0.5s ease;
    
  }
  .footer-col .social-links a:hover{
    color: #b30000;
  }
  @media screen and (min-width:320px ) and (max-width:480px){
    .footer{
      width: 100%;
    margin-top: 640px;
    }
    .footer .footer-row {
      justify-content: left;
     flex-direction: column;
    }
    .footer-row .footer-col h4{
   justify-content: left;
    }
    .footer-col input{
      width: fit-content;
    
      margin-left: -10vw;
    font-size: 3.9vw;
    }
    .footer-col form button{
      width: fit-content;
      font-size: 3.9vw;
      margin-left: 2vw;
    }
    .footer-col p{
      max-width: 480px;
      text-align:justify;
      margin-left: -4vh;
    }
  }
  @media screen and (min-width:481px ) and (max-width:768px){

    .footer{
      width: 100%;
      margin-top: 660px;
    }
    .footer .footer-row {
      justify-content: left;
      flex-direction: column;
      font-size: 20px;
     
    }
    .footer-row .footer-col h4{
   justify-content: left;
    }
    .footer-col input{
      margin-left: -40px;
      text-align: center;
      font-size: 3.9vw;
      width: 70%;
    }
    .footer-col form button{
      width: fit-content;
      font-size: 3vw;
      margin-left: 2vw;
    }
    .footer-col p{
      max-width: 768px;
      text-align: center;
      margin-left: -20px;
      font-size: 18px;
    }
  }@media screen and (min-width:769px ) and (max-width:1024px){
    .footer .footer-row {
      justify-content: space-evenly;
      flex-direction: row;
    margin-left: -40px;
    }
    .footer-col p{
      max-width: 1024px;
      text-align: center;
      margin-left: 0px;
      font-size: 18px;
    }
    .footer-row .footer-col h4{
      text-align: center;
    }
    .footer-col input{
    
     text-align: center;
      font-size: 3.9vw;
      width: 60%;
    padding-top: 45px;
    padding-bottom: 15px;
      margin-left: 10vw;
      
    }
    .footer-col form button{
      width: fit-content;
      font-size: 2.5vw;
      margin-left: 3vw;
    }
    .footer-col input::placeholder {
      position: relative;
     top: -10px;
     bottom: 10px;
  }
}
@media screen and (min-width:1025px ) and (max-width:1200px){
  .footer .footer-row {
    justify-content: space-evenly;
    flex-direction: row;
  margin-left: -40px;
  }
  .footer-col p{
    max-width: 1200px;
    text-align: center;
    margin-left: 0px;
    font-size: 18px;
  }
  .footer-row .footer-col h4{
    text-align: center;
  }
  .footer-col input{
  
   text-align: center;
    font-size: 2.9vw;
    width: 60%;
  padding-top: 45px;
  padding-bottom: 15px;
    margin-left: 10vw;
    
  }
  .footer-col form button{
    width: fit-content;
    font-size: 2vw;
    margin-left: 3vw;
  }
  .footer-col input::placeholder {
    position: relative;
   top: -10px;
   bottom: 10px;
}
}
