.Flower-card{
    background-color : #fff5cc;

    
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px;
    padding:10px;
    width: 330px;
    margin-bottom:100px;
    margin-top: 50px;
}
.flower-img
{
    margin-top: 20px;
    height: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #f9f5d2;

}
.flower-name{
    margin-top: 20px;
    text-align: center;
    color: #004080;
   
    font-size: 23px;
}
.flower-price{
    margin-top: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: brown;

    color:#cc6600;
    font-weight:900px;
}
.flower-description{
    margin: 10px;
    margin-bottom: 60px;
    text-align: justify;
    color: #004080;
    font-weight: 400;
   
    font-size: 15px;
}
.flower-shop-now{

    background-color:brown;

    background-color:#cc6600;
    font-size: 25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: none;
    color : #fff5cc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    margin-left: 80px;
    position: relative;
    top:-20px;
}
@media screen and  (min-width:394px){
    .Flower-card{
        
        margin-bottom:10px;
       
    }
}
@media screen and  (min-width:1200px){
    .Flower-card{
        margin-bottom:100px;
    }

}

.flower-shop-now:hover{
    background-color: #b30000;
}
