
.myflowerorder{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
  
}
.flowerordercard{
    background-color : #fff5cc;
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px;
    padding:10px;
    width: 330px;
    margin-bottom:100px;
    margin-top: 50px;
}
.flowerordertital{
    text-align: center;
    margin-bottom: -10px;
    font-size: 30px;
    color: #b30000;
    margin-top: 40px;
}
.flowerimg{
    margin-top: 20px;
    height: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #f9f5d2;
    
}

    .flowername{
        margin-top: 20px;
        text-align: center;
        color: #004080;
        font-size: 23px;
}
.flowerprice{
    margin-top: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#cc6600;
    font-weight:900px;
}.floweraddress{
    margin: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #004080;
    font-weight: 400;
    font-size: 15px;
}
@media screen and  (min-width:375px){
    .flowerordercard{
        width: 360px;
    }
}
@media screen and  (min-width:1200px){
    .flowerordercard{
        width: 330px;
    }
}