.flowers-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.flower-tital{
    text-align: center;
    margin-bottom: -10px;
}
.flower-tital1{
    text-align: center;
    margin-top: -1440px;
    
}
.flower-tital2{
    text-align: center;
    margin-top: 780px;
}
@media screen and  (min-width:394px){
    .flower-tital{
       
        margin-bottom: -10px;
    }
    .flower-tital1{
        position: relative;
        top:-3460px;
       
    }
    .flower-tital2{
        
        margin-top: -1055px;
        position: relative;
        bottom: 10px;
        
    }
}
@media screen and  (min-width:1200px){
    .flower-tital1{
        position: relative;
        top:-30px;
    }
    .flower-tital2{
        
        margin-top: 670px;
        
    }
}