.vegitable-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.vegitable-tital{
    text-align: center;
    margin-bottom: -10px;
    font-size: 30px;
    color: #b30000;
    font-weight: bold;
    margin-top: 50px;
}
.vegitable-tital1{
    text-align: center;
    margin-top: -1440px;
    font-size: 30px;
    color: #b30000;
    font-weight: bold;
    margin-top: 40px;
    
}
.vegitable-tital2{
    text-align: center;
    margin-top: 780px;
    font-size: 30px;
    color: #b30000;
    font-weight: bold;
}
@media screen and  (min-width:394px){
    .vegitable-tital{
       
        margin-bottom: -10px;
    }
    .vegitable-tital1{
        position: relative;
        top:-3460px;
       
    }
    .vegitable-tital2{
        
        margin-top: -1055px;
        position: relative;
        bottom: 10px;
        
    }
}
@media screen and  (min-width:1200px){
    .vegitable-tital1{
        position: relative;
        top:-1500px;
    }
    .vegitable-tital2{
        
        margin-top: -820px;
        
    }
}
.vegitable{
    height: 280vh;
}