body
{
  background-color: rgb(236, 249, 217);
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

.card
{
  height:350px;
  width: 250px;
  background-color: black border 1px solid gray;
  border-radius: 5px;
  box-shadow: 0px 1px 3px black;
  margin-top: 30px ;
}
.Container{
display: flex;
justify-content: space-around;
}
.title
{
  font-size: 2.8em;
  letter-spacing: 1px;
  margin: 48px auto;
  color: aliceblue;
}
.adjust
{
  max-width: 50%;
  padding: 0 64px;
}
