.Nearby-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.Nearby-tital{
    text-align: center;
    margin-bottom: -10px;
    font-size: 30px;
     color: #b30000;
     margin-top: 40px;
}