
.login-container{
    background-color:#f9f5d2;
    width:400px;
    height: 430px;
    margin:90px auto;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    padding:20px 40px;
    border-radius:15px ;
}
.login-title{
    text-align:center;
    font-size: 40px;
    color:#cc6600
}
.logininput-label{
    display:block;
    font-size:22px;
    color: #004080;
}
.input-field{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size:24px;
    padding:5px 10px;
    border:1px solid #ccc;
    border-radius:5px;
}
.input-container{
    margin:20px auto;
    margin-bottom: 40px;
}
.login-btn{
    background-color:chocolate;
    color:#fff;
    font-size:24px;
    border-radius:30px;
    display:block;
    border: none;
    margin: 0 auto;
    height: 50px;
    width: 160px;
}.login-btn:hover{
    background-color: #004080;
}
@media screen and (min-width:320px ) and (max-width:480px){
    .login-container{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .input-field{
        width: 100%;
    }
}