.seed-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.seed-tital{
    text-align: center;
    margin-bottom: -10px;
    font-size: 30px;
    color: #b30000;
    margin-top: 40px;
}
.seed-tital1{
    text-align: center;
    margin-top: -1440px;
    font-size: 30px;
    color: #b30000;
    
}
.seed-tital2{
    text-align: center;
    margin-top: 780px;
    font-size: 30px;
    color: #b30000;
}




@media screen and  (min-width:394px){
    .seed-tital{
       
        margin-bottom: -10px;
    }
    .seed-tital1{
        position: relative;
        top:-3570px;
       
    }
    .seed-tital2{
        
        margin-top: -1055px;
        position: relative;
        bottom: 10px;
        
    }
}
@media screen and  (min-width:1200px){
    .seed-tital1{
        position: relative;
        top:-30px;
    }
    .seed-tital2{
        
        margin-top: 670px;
        
    }
}
.seed{
    height: 280vh;
}