
.seed-card{
    background-color:#ffd9cc;
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px;
    padding:10px;
    width: 300px;
    margin-bottom:160px;
    margin-top: 50px;

}
.seed-img
{
    margin-top: 20px;
    height: 260px;
    width: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #f9f5d2;

}
.seed-name{
    margin-top: 20px;
    text-align: center;
    color: brown;
}
.seed-price{
    margin-top: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornflowerblue;
}
.seed-description{
    margin: 10px;
    margin-bottom: 60px;
    text-align: justify;
    color: brown;
}
.seed-shop-now{
    background-color:cornflowerblue;
    font-size: 25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: none;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    margin-left: 80px;
    position: relative;
    top:-20px;
}
@media screen and  (min-width:394px){
    .seed-card{
        
        margin-bottom:10px;
       
    }
}
@media screen and  (min-width:1200px){
    .seed-card{
        margin-bottom:100px;
    }
}