.bg{
    background-color:  #fff5cc;
}
.navbrand1{
    color: #b30000;
    font-size: 30px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.navbrand2{
    color: #004080 ;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.navbrand3{
    color:   #cc6600;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-right: 50px;
}
#basic-nav-dropdown{
    color:    #004080;
}
.nav-menu{
    color:    #004080;
    font-size: 20px;
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login{
 
    font-size: 23px;
    color:  #b30000;
    font-weight: bolder;
}
.Signup{
   margin-left: 27px;
    font-size: 23px;
    color: #b30000;
    font-weight: bolder;
}
@media screen and  (min-width:375px){
    .login{
        margin-left: 27px;  
    }
}
@media screen and  (min-width:1200px){
    .login{
        margin-left: 550px;  
    }
}
.nav-menu:hover{
    text-decoration: underline;
    color: #b30000;
}
.login:hover{
    color: #004080 ;
    text-decoration: underline;
}
.Signup:hover{
    color: #004080 ;
    text-decoration: underline;

}
#basic-nav-dropdown:hover{
    color: #b30000;
}