.vegetablebuy-container {
    margin-top: 55px;
    margin-bottom: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff5cc ;
}

.vegetablebuy-product-img {
    width: 390px;
    height: 390px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vegetablebuy-container div {
    max-width: 500px;
    margin-left: 20px;
}
h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color:  #004080;
}

p {
    font-size: 16px;
    color:   #b30000;
    margin-bottom: 20px;
}
.vegetableqt-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    left: -30px;
    text-align: center;
}

.vegetablequantity-btn {
    cursor: pointer;
    background-color: #cc6600;
    color: #fff5cc;
    padding: 0px;
    height:40px;
    width: 40px;
    border-radius: 40px;
    font-size: 25px;
    text-align: center;
   
    transition: background-color 0.3s;
}

.vegetablequantity-btn:hover {
    background-color: #b30000;
}

.vegetablequantity-text {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    color: #b30000;
}

.vegetableshippingAddress {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color:  #b30000;
    color: #fff5cc;
}
.vegetableshippingAddress::placeholder{
    color: #fff5cc;
}

.vegetableBuy-btn {
    cursor: pointer;
    background-color: #cc6600;
    color: #fff5cc;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.vegetableBuy-btn:hover {
    background-color: #004080;
}
.vegetablephotocontainer{
    display: flex;
    position: relative;
    left: -60px;
}
.vegetablephoto{
    width: 180px;
    margin-left: 30px;
    mix-blend-mode: darken;
}





@media screen and (min-width:320px ) and (max-width:480px){
    .vegetablebuy-container{
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .vegetablephotocontainer{
        flex-direction: column;
        margin-left: 0px;
       align-items:end;
        margin: auto;
    }
    .vegetablebuy-product-img{
        width: 95%;
        height: 95%;
    }
    .vegetablephoto{
    width: 80%;
}
.vegetabledname{
   margin-top: 30px;
    
}
.descriptiionvegetable{
   
    text-align: justify;
}
}
@media screen and (min-width:481px ) and (max-width:699px){
    .vegetablebuy-container{
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .vegetablephotocontainer{
        flex-direction: column;
        margin-left: 0px;
       align-items:end;
        margin: auto;
    }
    .vegetablebuy-product-img{
        width: 85%;
        height: 85%;
    }
    .vegetablephoto{
    width: 70%;
}
.vegetabledname{
   margin-top: 30px;
    font-size: 29px;
}
.descriptiionvegetable{
  font-size: 19px;
    text-align: justify;
}
.vegetablequantity-text{
    font-size: 22px;
}

}
@media screen and (min-width:699px ) and (max-width:1024px){
    .vegetablebuy-container{
        flex-direction: row;
       
        margin-left: auto;
        margin-right: auto;
    }
    .vegetablephotocontainer{
        flex-direction:row;
       left: -30px;
       align-items:end;
        margin: auto;
    }
    .vegetablebuy-product-img
    {
      
        width: 55%;
        height: 55%;
    }
    .vegetablephoto{
    width: 38%;
    margin-left: 0px;
}
.vegetabledname{
 
    font-size: 24px;
}
.descriptiionvegetable{
  font-size: 16px;
    text-align: justify;
}
.vegetablequantity-text{
    font-size: 18px;
}

}
