.Nearby-card{
    background-color:#ffd9cc;
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px;
    padding:10px;
    width: 300px;
    margin-bottom:10px;
    margin-top: 50px;
    
}
.Nearby-img
{
    margin-top: 20px;
    height: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #f9f5d2;

}
.Nearby-name{
    margin-top: 20px;
    text-align: center;
    color: brown;
}

.Nearby-description{
    margin: 10px;
    margin-bottom: 60px;
    text-align: justify;
    color: brown;
}
.Nearby-shop-now{
    background-color:cornflowerblue;
    font-size: 25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: none;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    margin-left: 80px;
    position: relative;
    top:-20px;
}